<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="FFME Solution Rule Set" Description="FFME Solution Rule Set including FxCop and StyleCop" ToolsVersion="16.0">
  <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
    <Rule Id="CA1031" Action="Info" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1116" Action="None" />
    <Rule Id="SA1124" Action="None" />
    <Rule Id="SA1208" Action="None" />
    <Rule Id="SA1306" Action="None" />
    <Rule Id="SA1308" Action="None" />
    <Rule Id="SA1501" Action="None" />
    <Rule Id="SA1503" Action="None" />
    <Rule Id="SA1000" Action="None" />
    <Rule Id="SA1001" Action="None" />
    <Rule Id="SA1021" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1118" Action="None" />
    <Rule Id="SA1123" Action="None" />
    <Rule Id="SA1402" Action="None" />
    <Rule Id="SA1502" Action="None" />
    <Rule Id="SA1516" Action="None" />
    <Rule Id="SA1601" Action="None" />
    <Rule Id="SA1623" Action="None" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1413" Action="None" />
    <Rule Id="SA1135" Action="None" />
  </Rules>
</RuleSet>